.choices tt {
	font-size: 1.3em;
}

ul.choices {
	list-style: none;
	margin: 0;
	width: 95%;
}

ul.choices li {
	border: solid 2px #60A8AC;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	float: left;
	width: 100%;
}

ul .smwtable  {
	list-style: disc;
	margin: 0;
	padding: 0;
}

.smwtable ul li {
	margin: 0;
	padding: 0;
	border: none;
	width: auto;
	float: none;
}

#atwQoptions {
	border: 2px solid #60A8AC;
	margin: 10px;
}

#atwQresult {
	margin: 10px;
}

#atwQfacets {
	border: 2px solid #60A8AC;
	width: 30%;
	float: right;
	margin:5px;
}

#atwQfacets ul {
	list-style: none;
	margin: 0.3em 0px 0px 0.3em;
}
#atwQfacets ul li {
	margin-left: -5px;
}

#atwQformat {
	border: 2px solid #60A8AC;
	width: 60%;
	float: left;
	margin:5px;
}

/*table, div { border: 1px solid black; }*/

