#atwQfacetsbutton {
	/*position: auto;*/
	/*right: 50px;
	top: 25px;*/
	/*float: right;*/
	padding: 0.5em;
	border: 1px solid #AAAAAA;
	/*width: 100px;*/
	background-color: #EEEEFF;
}



#atwQfacetbox { 
	position: absolute;
	right: 50px;
	top: 25px;
	/*width: 200px; */
	height: 150px;
	padding: 0.5em;
	padding: 0;
	margin: 0;
	/*border: 2px solid black;*/
}



#atwQfacetoptions {
	float: right;
}

#atwQfacettable {
	/*position: auto;*/
	/*float: right;*/
	border: 1px solid #AAAAAA;
	margin-top: 0;
	margin-left: 5px;
	margin-right: 5px;
	padding: 0;
	background: none;
	
	/*width: auto;*/
}

#atwQfacetbox table .smwtable {
	border: 1px solid #AAAAAA;
	border-spacing: 0px 2px;
}

/*
#atwQfacetbox table.smwtable tr {
	border-top: 0;
	margin-top: 0;
	padding-top: 0;
}

#atwQfacetbox table.smwtable td {
	border-left: 0;
	border-right: 0;
	padding: 0;
	margin: 0;
}
*/

/*
#atwQfacetbox ul {
	list-style: none;
	
}

#atwQfacetbox ul li {
	margin-left: -5px;
}
*/
